<div class="ys_topBox">
		<div id="navul" class="L_Box">
		<a data-target="navTab" href="/crm-web-in/ysMain/query.do" class="itemNav iactive"><i class=" icon-print"></i>书店超市</a>
		
		<a data-target="navTab" href="/crm-web-in/proposal/query.do" class="itemNav"><i class="icon-tasks"></i>我的收藏</a>
			
	</div>
    <ul class="r_ulbox">
    	<li class="navli"><a href="/uaa-server" class="r_navbg1 anav"><i class="icon-home"></i></a></li>
    	<li class="dropdown navli">
            <p class="r_navbg2 userbox"  data-toggle="dropdown">
                <img class="userh" src="imgs/user.jpg"/>
                <span class="userinfo">
                	<small>Welcome</small>
                  	 ys8899
                </span>
                <b class="caret"></b>
            </p>
            <ul aria-labelledby="drop3" role="menu" class="dropdown-menu u_aTop">
                 <li role="presentation">
                <a data-toggle="modal" data-target="#password_modal"><i class="icon-key" style="margin-right:10px;"></i>修改密码</a>
                </li>
                 <li role="presentation">
                     <a href="/uaa-server/logout"><i class="icon-off" style="margin-right:10px;"></i>退出</a>
                 </li>
           </ul>
        </li>
    </ul>
</div>

